* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.container {
  margin: 0 auto;
  padding-inline: 39px;
  max-width: 1110px;
}

.blocks {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.block {
  background-color: #755cde;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  img {
    align-self: flex-end;
  }
}

.single-block {
  grid-column: span 2 !important;
}

.double-row-block {
  gap: 94px;
}

.bg-orange {
  background-color: #f6a560;
}

@media (width >= 800px) {
  .blocks {
    grid-template-columns: repeat(6, 1fr);
  }

  .double-row-block {
    grid-row: span 2;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 3px;
  user-select: none;

  span {
    background-color: black;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    position: relative;
    width: 25px;
    text-align: center;

    transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);

    &:nth-child(1) {
      z-index: 1;
    }
    &:nth-child(2) {
      transform: translateX(-28px);
    }
    &:nth-child(3) {
      transform: translateX(-56px);
    }
    &:nth-child(4) {
      transform: translateX(-84px);
    }
    &:nth-child(5) {
      transform: translateX(-112px);
    }
  }

  &:hover span {
    transform: translateX(0);
  }
}

/* swiper demo css */
.swiper {
  width: 100%;
  height: 180px;
  margin-bottom: 56px;
}

.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.swiper-slide {
  width: 270px;
  flex-shrink: 0;
}

.swiper-button-next-custom,
.swiper-button-prev-custom {
  background-color: black;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.swiper-button-prev-custom {
  transform: rotate(-180deg);
}

.swiper-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.swiper-button-disabled img {
  opacity: 0.4;
}

@media (width >= 768px) {
  .swiper {
    height: 360px;
  }

  .swiper-slide {
    width: 540px;
  }
}
